<link rel="stylesheet" type="text/css" href="~/Content/Site.css"> 

<div>
    <div class="container">
        <div class="row">
            <div class="Absolute-Center is-Responsive">
                <div id="logo-container"></div>
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <form action="" id="loginForm">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" name='username' placeholder="username" />
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" type="password" name='password' placeholder="password" />
                        </div>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown">

                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Select your school <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">School 1</a></li>
                                        <li><a href="#">School 2</a></li>
                                        <li><a href="#">School 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <br />
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-def btn-block">Login</button>
                            </div>
                            <div class="form-group text-center">
                                <a href="#">Forgot Password</a>&nbsp;|&nbsp;<a href="#">Support</a>
                            </div>
</form>
                </div>
            </div>
        </div>
    </div>
    </div>
